body {
	margin: 0;
	padding: 0;
}

.wrap {
	width: 100%;
	margin: 0 auto;
	transition: all ease 0.3s;
}

.header{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background: white;
}

.header_logo{
    position: absolute;
    width: auto;
    height: 40px;
    margin-left: 10%;
    top: 15px;
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.header_logo_icon{
    background-image: url("images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease 0.3s;
	cursor: pointer;
    width: 40px;
    height: 40px;
}

.header_logo_name{
    background-image: url("images/TOXIN.svg");
    background-repeat: no-repeat;
    width: 65.59px;
    height: 12.96px;
    margin-left: 12.5px;
    margin-top: 13.33px;
}

.header_menu{
    position: absolute;
    height: 70px;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}

